#mainNav {
  margin-bottom: 0;
  border-bottom: 1px solid fade-out(white, 0.7);
  font-family: $font-family;
  background-color: $color-primary;
  .navbar-toggler {
    color: white;
    font-size: 14px;
    border: 1px solid white;
    padding: 11px;
  }
  a {
    color: white;
  }
  .navbar-nav {
    .nav-item {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:focus,
      &:active {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media(min-width:768px) {
    a {
      color: rgba(white, 0.7);
    }
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: all .25s ease-in-out, padding .25s ease-in-out;
    -moz-transition: all .25s ease-in-out, padding .25s ease-in-out;
    transition: all .25s ease-in-out, padding .25s ease-in-out;
    &.navbar-shrink {
      background: $color-primary;
      padding: 10px 0;
      border-bottom: 1px solid fade-out(white, 0.7);
      .nav-link.active {
        background-color: rgba(white, 0.3);
      }
      a {
        color: $main-light;
      }
    }
    .nav-link.active {
      outline: none;
      &:hover {
        color: white;
      }
    }
  }
}
