// Main Colors

$font-family: "'poppins', helvetica, sans-serif";
$primary: #42DCA3;


$bg-primary: rgb(255,224,255);
$color-primary: rgb(66,0,66);
$alpha: .6;
$color-primary-alpha: rgba($color-primary, $alpha);
