@import "variables";
@import "mixins";
@import "insets";
@import "navigation";
@import "home";
@import "intro";
@import "leitbild";
@import "angebot";
@import "about";
@import "praxis";
@import "praxis2";
@import "testimonials";
@import "newsletter";
@import "contact";
@import "footer";

*, *::before, *::after
{
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: $font-family;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  overflow-x: hidden !important;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  postition: relative;
}

.bg-primary {
  background-color: $bg-primary !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $color-primary;
  }
}

.bg-secondary {
  background-color: white;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $color-primary !important;
  }
}

.bg-inverse {
  background-color: $color-primary !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $bg-primary;
  }
}

h1 {
  font-family: 'Libre Baskerville', 'Playfair Display', Georgia, serif;
  font-size: 3.75rem;
  line-height: 5.313rem;
}
h2 {
  font-family: 'Libre Baskerville', 'Playfair Display', Georgia, serif;
  font-size: 3.125rem;
  line-height: 4.688rem;
  font-weight: 600;
}
h3 {
  font-size: 30px;
  line-height: 48px;
  font-weight: 400;
}
h4 {
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
}
h5 {
  font-size: 20px;
  line-height: 33px;
  font-weight: 500;
}
h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    @media(min-width: 992) {
        font-size: 18px;
        line-height: 1.6;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary, 20%);
    }
}

.container-fluid
{
  padding-right: 75px;
  padding-left: 75px;
  margin-right: auto;
  margin-left: auto;
}

.white-bg {
  background: #ffffff;
}

.fixed-bg {
  background-attachment: fixed;
}

.section-heading {
  position: relative;
  z-index: 10;
}

section {
  position: relative;
}

.section-header {
  position: relative;
  z-index: 10;
  margin-bottom: 25px;
}

.sub-heading {
  font-size: 18px;
  margin-top: 13px;
}

.image-border {
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row.no-gutters {
  [class^="col-"], [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.diffuse-shadow {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
}

.bottom-gradient {
  display: block;
  width: 100%;
  border: solid 0px #CCC;
  border-bottom: none;
  position: relative;
  float: left;
  &:after {
    content:"";
    background: -webkit-linear-gradient(left, rgba(66, 0, 66, 1) 0%, rgba(99, 0, 99, 1) 12%, rgba(204, 0, 204, 1) 47%, rgba(255, 0, 255, 1) 100%);
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0;
  }
}

.dark-purple-line-bottom {
  border-bottom: 3px solid #660066;
}
.purple-line-bottom {
  border-bottom: 3px solid #990099;
}
.dark-pink-line-bottom {
  border-bottom: 3px solid #CC00CC;
}
.pink-line-bottom {
  border-bottom: 3px solid #FF00FF;
}
.dark-purple-line-top {
  border-top: 3px solid #660066;
}
.purple-line-top {
  border-top: 3px solid #990099;
}
.dark-pink-line-top {
  border-top: 3px solid #CC00CC;
}
.pink-line-top {
  border-top: 3px solid #FF00FF;
}
.four-lines {
  width: 100%;
  .line {
    width: 25%;
    float: left;
  }
}

.purple-gradient-overlay:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(178, 124, 245, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(178, 124, 245, 0.6) 100%);
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.btn {
    text-transform: uppercase;
    font-family: $font-family;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: black;
        background-color: $primary;
    }
}

.standard-button {
  padding: 0 40px 0 40px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 50px;
  border: none;
  box-shadow: none;
}

.dark-purple-button {
  color: #ffffff;
  background: #660066;
  &:hover {
    background-color: #990099;
    color: #ffffff;
    outline: none;
  }
  &:active {
    background-color: #990099;
    color: #ffffff;
    outline: none;
    &:hover {
      background-color: #990099;
      color: #ffffff;
      outline: none;
    }
  }
  &:focus {
    &:hover {
      background-color: #990099;
      color: #ffffff;
      outline: none;
    }
    background-color: #990099;
    color: #ffffff;
    outline: none;
  }
}

.dark-purple-outline {
  color: #660066;
  background: #fff;
  border: 2px solid #660066;
  line-height: 46px;
  padding: 0 38px 0 38px;
  &:hover {
    background-color: #660066;
    color: #ffffff;
    outline: none;
    border: 2px solid #660066;
  }
  &:active {
    background-color: #660066;
    color: #ffffff;
    outline: none;
    border: 2px solid #660066;
    &:hover {
      background-color: #660066;
      color: #ffffff;
      outline: none;
      border: 2px solid #660066;
    }
  }
  &:focus {
    &:hover {
      background-color: #660066;
      color: #ffffff;
      outline: none;
      border: 2px solid #660066;
    }
    background-color: #660066;
    color: #ffffff;
    outline: none;
    border: 2px solid #660066;
  }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width: 1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade-out(white, 0.8);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade-out(white, 0.8);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: fade-out(white, 0.8);
}
