#call-to-action {
  padding: 90px 0px;
  background-image: url(../images/call-to-action.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  .block {
    h2 {
      font-size: 30px;
      margin-bottom: 6px;
      font-weight: 600;
    }
    p {
      padding-right: 30px;
      color: #fff;
    }
    .input-group {
      margin-top: 30px;
      input {
        height:50px;
        border-radius:0;
        border:none;
        box-shadow:none;
      }
      .btn-subscription {
        height:50px;
        border-radius:0;
        border:none;
        box-shadow:none; 
        background: #1bafb4;
        padding:0px 35px;
        color:#fff;
        font-weight: bold;
      }
    }
  }
}

