// Themes

.theme-primary {
  background-color: $bg-primary !important;
  h1,h2,h3,h4,h5,h6,p {
    color: $color-primary;
  }
}

.theme-white {
  background-color: white;
  h1,h2,h3,h4,h5,h6,p {
    color: $color-primary !important;
  }
}

.theme-inverse {
  background-color: $color-primary !important;
  h1,h2,h3,h4,h5,h6,p {
    color: $bg-primary;
  }
}
