._2TutougzjU22NyTtEuYHy5 {
  margin-left: -940px; }

.X-JbnJ6B9biPjHGuLmIXF {
  margin-left: -860px; }

._1lRdIqSkMDN3PtWotTW96C {
  margin-left: -780px; }

._1KKF3Kne2NrnVt9FihJ7aS {
  margin-left: -700px; }

._2_cVsuJDOCaRyCtnjGpb7W {
  margin-left: -620px; }

._1lHqtwZk_AcN04GUQMaPCG {
  margin-left: -540px; }

._2FNw_pIfuS3KfY7TFuHCks {
  margin-left: -460px; }

.ZeNN0-eqpI4Uw9g1xph4U {
  margin-left: -380px; }

._2u9Jx3DvNUFDalIBY6zprF {
  margin-left: -300px; }

._1fLtVAwsu-E38SyEWWmYlL {
  margin-left: -220px; }

._1pNIfWTEg7w04DbwJj382s {
  margin-left: -140px; }

.LXjoGrJ23PHc_fQEr3KY9 {
  margin-left: -60px; }

@media (min-width: 1200px) {
  ._2TutougzjU22NyTtEuYHy5 {
    margin-left: -1170px; }
  .X-JbnJ6B9biPjHGuLmIXF {
    margin-left: -1070px; }
  ._1lRdIqSkMDN3PtWotTW96C {
    margin-left: -970px; }
  ._1KKF3Kne2NrnVt9FihJ7aS {
    margin-left: -870px; }
  ._2_cVsuJDOCaRyCtnjGpb7W {
    margin-left: -770px; }
  ._1lHqtwZk_AcN04GUQMaPCG {
    margin-left: -670px; }
  ._2FNw_pIfuS3KfY7TFuHCks {
    margin-left: -570px; }
  .ZeNN0-eqpI4Uw9g1xph4U {
    margin-left: -470px; }
  ._2u9Jx3DvNUFDalIBY6zprF {
    margin-left: -370px; }
  ._1fLtVAwsu-E38SyEWWmYlL {
    margin-left: -270px; }
  ._1pNIfWTEg7w04DbwJj382s {
    margin-left: -170px; }
  .LXjoGrJ23PHc_fQEr3KY9 {
    margin-left: -70px; } }

@media (min-width: 768px) and (max-width: 979px) {
  ._2TutougzjU22NyTtEuYHy5 {
    margin-left: -724px; }
  .X-JbnJ6B9biPjHGuLmIXF {
    margin-left: -662px; }
  ._1lRdIqSkMDN3PtWotTW96C {
    margin-left: -600px; }
  ._1KKF3Kne2NrnVt9FihJ7aS {
    margin-left: -538px; }
  ._2_cVsuJDOCaRyCtnjGpb7W {
    margin-left: -476px; }
  ._1lHqtwZk_AcN04GUQMaPCG {
    margin-left: -414px; }
  ._2FNw_pIfuS3KfY7TFuHCks {
    margin-left: -352px; }
  .ZeNN0-eqpI4Uw9g1xph4U {
    margin-left: -290px; }
  ._2u9Jx3DvNUFDalIBY6zprF {
    margin-left: -228px; }
  ._1fLtVAwsu-E38SyEWWmYlL {
    margin-left: -166px; }
  ._1pNIfWTEg7w04DbwJj382s {
    margin-left: -104px; }
  .LXjoGrJ23PHc_fQEr3KY9 {
    margin-left: -42px; } }

@media (max-width: 767px) {
  [class*="inset"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }

#_1MqJVQXMjNCjKXFuLbM14W {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "'poppins', helvetica, sans-serif";
  background-color: #420042; }
  #_1MqJVQXMjNCjKXFuLbM14W ._1k1KdGh2UcWUV-3qH1alVo {
    color: white;
    font-size: 14px;
    border: 1px solid white;
    padding: 11px; }
  #_1MqJVQXMjNCjKXFuLbM14W a {
    color: white; }
  #_1MqJVQXMjNCjKXFuLbM14W ._2IGBCVNJs6NSoVMxGZLK1g ._2nsA_9ODuPmMYKdmOlIffC {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out; }
    #_1MqJVQXMjNCjKXFuLbM14W ._2IGBCVNJs6NSoVMxGZLK1g ._2nsA_9ODuPmMYKdmOlIffC:hover {
      color: fade(white, 80%);
      outline: none;
      background-color: transparent; }
    #_1MqJVQXMjNCjKXFuLbM14W ._2IGBCVNJs6NSoVMxGZLK1g ._2nsA_9ODuPmMYKdmOlIffC:focus, #_1MqJVQXMjNCjKXFuLbM14W ._2IGBCVNJs6NSoVMxGZLK1g ._2nsA_9ODuPmMYKdmOlIffC:active {
      outline: none;
      background-color: transparent; }
  @media (min-width: 768px) {
    #_1MqJVQXMjNCjKXFuLbM14W {
      padding: 20px 0;
      border-bottom: none;
      letter-spacing: 1px;
      background: transparent;
      -webkit-transition: all .25s ease-in-out, padding .25s ease-in-out;
      -moz-transition: all .25s ease-in-out, padding .25s ease-in-out;
      transition: all .25s ease-in-out, padding .25s ease-in-out; }
      #_1MqJVQXMjNCjKXFuLbM14W a {
        color: rgba(255, 255, 255, 0.7); }
      #_1MqJVQXMjNCjKXFuLbM14W.HXNXzt1-13M_M4a2Pxn7M {
        background: #420042;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
        #_1MqJVQXMjNCjKXFuLbM14W.HXNXzt1-13M_M4a2Pxn7M ._1SPpTdGCBQX7OSzOm-DZ8U._3GOr5lUakO_C2IZOOe7ahf {
          background-color: rgba(255, 255, 255, 0.3); }
        #_1MqJVQXMjNCjKXFuLbM14W.HXNXzt1-13M_M4a2Pxn7M a {
          color: #ffe0ff; }
      #_1MqJVQXMjNCjKXFuLbM14W ._1SPpTdGCBQX7OSzOm-DZ8U._3GOr5lUakO_C2IZOOe7ahf {
        outline: none; }
        #_1MqJVQXMjNCjKXFuLbM14W ._1SPpTdGCBQX7OSzOm-DZ8U._3GOr5lUakO_C2IZOOe7ahf:hover {
          color: white; } }

#_2T4hotXPknE-oWVB_l_pMB {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  background: url(240506676b1a4c85f2a3fbaaa39260fb.jpg) no-repeat bottom center;
  background-attachment: fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #_2T4hotXPknE-oWVB_l_pMB ._2ZZCuoL7SICTH3OfRe7caV {
    background: rgba(66, 0, 66, 0.6); }
  #_2T4hotXPknE-oWVB_l_pMB .eZqXctx4SWgUFrkmeWoQl {
    display: table-cell;
    vertical-align: middle; }
    #_2T4hotXPknE-oWVB_l_pMB .eZqXctx4SWgUFrkmeWoQl h1, #_2T4hotXPknE-oWVB_l_pMB .eZqXctx4SWgUFrkmeWoQl h3, #_2T4hotXPknE-oWVB_l_pMB .eZqXctx4SWgUFrkmeWoQl h6 {
      color: #ffe0ff; }
  @media (min-width: 768px) {
    #_2T4hotXPknE-oWVB_l_pMB {
      height: 100%;
      padding: 0; } }

#_2U8_sfLMowLvLksMqWXLGF ._3uMJsv_tKT8N8DObS0AADj {
  position: relative;
  width: 100%; }
  #_2U8_sfLMowLvLksMqWXLGF ._3uMJsv_tKT8N8DObS0AADj img {
    width: 100%;
    display: block; }

#_2U8_sfLMowLvLksMqWXLGF ._2RLxGxqtZQgeUT57pekDLR {
  position: relative;
  margin-top: 50px;
  z-index: 10;
  overflow: hidden; }
  #_2U8_sfLMowLvLksMqWXLGF ._2RLxGxqtZQgeUT57pekDLR ._1vZt4IMI5OVJ_6bZYR8PeT {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px; }
  #_2U8_sfLMowLvLksMqWXLGF ._2RLxGxqtZQgeUT57pekDLR p {
    margin-top: 22px;
    margin-bottom: 50px;
    position: relative; }

#_2U8_sfLMowLvLksMqWXLGF .q8jBcy3J95i91LtnSnFgR {
  margin-left: -110px;
  position: relative;
  z-index: 10; }
  @media (max-width: 991px) {
    #_2U8_sfLMowLvLksMqWXLGF .q8jBcy3J95i91LtnSnFgR {
      margin-left: 0; } }

#_3KEG7ZkA22Qe58d9JYed9W ._1qCM-_p3oMG-wh9vpwT4dY {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  margin-top: 2rem; }
  #_3KEG7ZkA22Qe58d9JYed9W ._1qCM-_p3oMG-wh9vpwT4dY p {
    margin-bottom: 2rem; }

#_3yrHcBeuymvxDSF9T0_rw4 ._2V-fAvbidDWHdMglk7HhYA {
  padding-top: 1rem; }

#_3yrHcBeuymvxDSF9T0_rw4 ._3IdZifniqIt9XNfB0hCOnM {
  perspective: 1000px; }
  #_3yrHcBeuymvxDSF9T0_rw4 ._3IdZifniqIt9XNfB0hCOnM:hover ._3XgMKuceq5xeNmWzJBhAad,
  #_3yrHcBeuymvxDSF9T0_rw4 ._3IdZifniqIt9XNfB0hCOnM._2nRdmyG-yJ3x6bNMBdqoz4 ._3XgMKuceq5xeNmWzJBhAad {
    transform: rotateY(180deg); }

#_3yrHcBeuymvxDSF9T0_rw4 ._3IdZifniqIt9XNfB0hCOnM,
#_3yrHcBeuymvxDSF9T0_rw4 .hZ8LQNo_mUgOmYD8kBHwG,
#_3yrHcBeuymvxDSF9T0_rw4 ._3mD7zQURRizXp6ncCedEM_ {
  min-width: 280px;
  max-width: 370px;
  height: 560px; }

#_3yrHcBeuymvxDSF9T0_rw4 ._3XgMKuceq5xeNmWzJBhAad {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

#_3yrHcBeuymvxDSF9T0_rw4 .hZ8LQNo_mUgOmYD8kBHwG,
#_3yrHcBeuymvxDSF9T0_rw4 ._3mD7zQURRizXp6ncCedEM_ {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

#_3yrHcBeuymvxDSF9T0_rw4 .hZ8LQNo_mUgOmYD8kBHwG {
  z-index: 2;
  transform: rotateY(0deg); }

#_3yrHcBeuymvxDSF9T0_rw4 ._3mD7zQURRizXp6ncCedEM_ {
  transform: rotateY(180deg); }

#DzBWZonSjQhQaFyqXAk4l {
  color: #ffe0ff;
  background-color: #420042;
  padding-top: 64px;
  padding-bottom: 64px; }
  #DzBWZonSjQhQaFyqXAk4l h2, #DzBWZonSjQhQaFyqXAk4l h4 {
    color: #ffe0ff; }

._2sx0L1kV4e6_02d3-kEWQ- {
  list-style: none;
  padding: 0;
  position: relative; }
  ._2sx0L1kV4e6_02d3-kEWQ-:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #ffe0ff;
    left: 40px;
    margin-left: -1.5px; }
  ._2sx0L1kV4e6_02d3-kEWQ- > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li:before, ._2sx0L1kV4e6_02d3-kEWQ- > li:after {
      content: " ";
      display: table; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li:after {
      clear: both; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li ._2cKORWoK8v0FvlKKiSBulf {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left; }
      ._2sx0L1kV4e6_02d3-kEWQ- > li ._2cKORWoK8v0FvlKKiSBulf:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      ._2sx0L1kV4e6_02d3-kEWQ- > li ._2cKORWoK8v0FvlKKiSBulf:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li ._2KBHwnNkpyBCZZHwe6C-kG {
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      position: absolute;
      z-index: 100;
      background-color: #420042;
      color: white;
      border-radius: 100%;
      border: 5px solid #ffe0ff;
      text-align: center; }
      ._2sx0L1kV4e6_02d3-kEWQ- > li ._2KBHwnNkpyBCZZHwe6C-kG h4 {
        font-size: 10px;
        margin-top: 12px;
        line-height: 14px; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li._2PFyZxZDO3SceRM-KPcI2p > ._2cKORWoK8v0FvlKKiSBulf {
      float: right;
      text-align: left;
      padding: 0 20px 0 100px; }
      ._2sx0L1kV4e6_02d3-kEWQ- > li._2PFyZxZDO3SceRM-KPcI2p > ._2cKORWoK8v0FvlKKiSBulf:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      ._2sx0L1kV4e6_02d3-kEWQ- > li._2PFyZxZDO3SceRM-KPcI2p > ._2cKORWoK8v0FvlKKiSBulf:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li:last-child {
      margin-bottom: 0; }
  ._2sx0L1kV4e6_02d3-kEWQ- ._1NPmmwIG1L5pjrNaMS7kuU h4 {
    margin-top: 0;
    color: inherit; }
    ._2sx0L1kV4e6_02d3-kEWQ- ._1NPmmwIG1L5pjrNaMS7kuU h4.mxI6EgCLnHUidMgJrIPWA {
      text-transform: none; }
  ._2sx0L1kV4e6_02d3-kEWQ- ._31GBdnyP1wv5v9PSBMBneX > p,
  ._2sx0L1kV4e6_02d3-kEWQ- ._31GBdnyP1wv5v9PSBMBneX > ul {
    margin-bottom: 0; }

@media (min-width: 768px) {
  ._2sx0L1kV4e6_02d3-kEWQ-:before {
    left: 50%; }
  ._2sx0L1kV4e6_02d3-kEWQ- > li {
    margin-bottom: 100px;
    min-height: 100px; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li ._2cKORWoK8v0FvlKKiSBulf {
      width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li ._2KBHwnNkpyBCZZHwe6C-kG {
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px; }
      ._2sx0L1kV4e6_02d3-kEWQ- > li ._2KBHwnNkpyBCZZHwe6C-kG h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li._2PFyZxZDO3SceRM-KPcI2p > ._2cKORWoK8v0FvlKKiSBulf {
      float: right;
      text-align: left;
      padding: 0 30px 20px 20px; } }

@media (min-width: 992px) {
  ._2sx0L1kV4e6_02d3-kEWQ- > li {
    min-height: 150px; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li ._2cKORWoK8v0FvlKKiSBulf {
      padding: 0 20px 20px; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li ._2KBHwnNkpyBCZZHwe6C-kG {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      ._2sx0L1kV4e6_02d3-kEWQ- > li ._2KBHwnNkpyBCZZHwe6C-kG h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li._2PFyZxZDO3SceRM-KPcI2p > ._2cKORWoK8v0FvlKKiSBulf {
      padding: 0 20px 20px; } }

@media (min-width: 1200px) {
  ._2sx0L1kV4e6_02d3-kEWQ- > li {
    min-height: 170px; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li ._2cKORWoK8v0FvlKKiSBulf {
      padding: 0 20px 20px 100px; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li ._2KBHwnNkpyBCZZHwe6C-kG {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      ._2sx0L1kV4e6_02d3-kEWQ- > li ._2KBHwnNkpyBCZZHwe6C-kG h4 {
        margin-top: 40px; }
    ._2sx0L1kV4e6_02d3-kEWQ- > li._2PFyZxZDO3SceRM-KPcI2p > ._2cKORWoK8v0FvlKKiSBulf {
      padding: 0 100px 20px 20px; } }

#_3V-4E_HIXhUAfMe0esb3Lt {
  color: #420042;
  background-color: #ffe0ff;
  padding-top: 64px;
  padding-bottom: 64px; }
  #_3V-4E_HIXhUAfMe0esb3Lt .p57h5YNQOpm5sCF2oY4n5 {
    background: url(df80c096f138636fabfd97abbc1f6b0e.jpg); }
  #_3V-4E_HIXhUAfMe0esb3Lt ._1YR8QIhgifJZqvqMuraQZj {
    background: url(4fe9ea310701592816f6973c5e315e6e.jpg); }
  #_3V-4E_HIXhUAfMe0esb3Lt .eqVQ-bOJ7ISZJO3vq5Y9- {
    background: url(40f10aa74f608b2940f00fe9daa68081.jpg); }
  #_3V-4E_HIXhUAfMe0esb3Lt ._24i_Db057dmIdNtu2YX0au {
    background: url(8e20f3772e97017b0cb4d22acb07578a.jpg); }
  #_3V-4E_HIXhUAfMe0esb3Lt .XturWY4119iRrCYHl1npr {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100% !important;
    margin: 0; }
  #_3V-4E_HIXhUAfMe0esb3Lt ._2RLxGxqtZQgeUT57pekDLR {
    background: #ffffff;
    position: relative;
    margin-top: 30px;
    z-index: 10;
    overflow: hidden; }
    #_3V-4E_HIXhUAfMe0esb3Lt ._2RLxGxqtZQgeUT57pekDLR ._1vZt4IMI5OVJ_6bZYR8PeT {
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px; }
    #_3V-4E_HIXhUAfMe0esb3Lt ._2RLxGxqtZQgeUT57pekDLR p {
      margin-top: 22px;
      margin-bottom: 50px;
      position: relative; }
    @media (max-width: 991px) {
      #_3V-4E_HIXhUAfMe0esb3Lt ._2RLxGxqtZQgeUT57pekDLR {
        margin-left: 0; } }
  #_3V-4E_HIXhUAfMe0esb3Lt ._1ZzjHS-jBehV5EdW4rR1ah {
    margin-left: -110px;
    position: relative;
    z-index: 10; }
    @media (max-width: 991px) {
      #_3V-4E_HIXhUAfMe0esb3Lt ._1ZzjHS-jBehV5EdW4rR1ah {
        margin-left: 0; } }
  #_3V-4E_HIXhUAfMe0esb3Lt ._2IHdkJPgh6sEFGMndUaQU5 {
    margin-left: 0px;
    position: relative;
    z-index: 10; }
    @media (max-width: 991px) {
      #_3V-4E_HIXhUAfMe0esb3Lt ._2IHdkJPgh6sEFGMndUaQU5 {
        margin-left: 0; } }

#EYp8WozwCcmKV0vKrTkGG ._1uieVZs8xtHXN_3hQose15 {
  margin-top: 0rem; }
  #EYp8WozwCcmKV0vKrTkGG ._1uieVZs8xtHXN_3hQose15 ._1vE1v_rxeCE-zKOA3fx4IJ {
    position: absolute;
    margin-top: -2rem;
    margin-left: -650px;
    padding: 38px;
    z-index: 10;
    width: 100%;
    height: 300px; }
    @media (max-width: 767px) {
      #EYp8WozwCcmKV0vKrTkGG ._1uieVZs8xtHXN_3hQose15 ._1vE1v_rxeCE-zKOA3fx4IJ {
        padding: 20px;
        height: 200px;
        margin-left: 0px;
        margin-top: 0px; } }
  #EYp8WozwCcmKV0vKrTkGG ._1uieVZs8xtHXN_3hQose15 ._2jD4ol7wSRaDRW7PTKK2A5 {
    position: absolute;
    padding: 38px;
    margin-top: -2rem;
    margin-left: 100px;
    z-index: 10;
    width: 100%;
    height: 300px; }
    @media (max-width: 767px) {
      #EYp8WozwCcmKV0vKrTkGG ._1uieVZs8xtHXN_3hQose15 ._2jD4ol7wSRaDRW7PTKK2A5 {
        padding: 20px;
        height: 200px;
        margin-left: 0px;
        margin-top: 0px; } }
  #EYp8WozwCcmKV0vKrTkGG ._1uieVZs8xtHXN_3hQose15 .hqH4eYeqfGx_OWqEH3T8- {
    margin-top: 28px; }
    #EYp8WozwCcmKV0vKrTkGG ._1uieVZs8xtHXN_3hQose15 .hqH4eYeqfGx_OWqEH3T8- p {
      padding-right: 13px; }

#_23qjJaLddwichJnGvBX3By {
  padding-top: 2.8125rem;
  background: #663fb5 url(42b0e526841b10a1c9c652ab7a46758a.jpg) no-repeat center bottom;
  background-size: cover; }
  @media (min-width: 768px) {
    #_23qjJaLddwichJnGvBX3By {
      padding-top: 5.625rem; } }
  #_23qjJaLddwichJnGvBX3By ._3oHyyk552jGLGc5Nrw46eq {
    margin: 0 auto 2rem;
    border-left: 0 none; }
    @media (min-width: 768px) {
      #_23qjJaLddwichJnGvBX3By ._3oHyyk552jGLGc5Nrw46eq {
        max-width: 60rem;
        margin-bottom: 4.5rem; } }
    #_23qjJaLddwichJnGvBX3By ._3oHyyk552jGLGc5Nrw46eq > img {
      margin-bottom: 1.5625rem;
      border: 3px solid #ffe0ff; }
    #_23qjJaLddwichJnGvBX3By ._3oHyyk552jGLGc5Nrw46eq p {
      margin-bottom: .9375rem;
      font-weight: 400;
      line-height: 1.464; }
      #_23qjJaLddwichJnGvBX3By ._3oHyyk552jGLGc5Nrw46eq p:before {
        content: '\201C'; }
      #_23qjJaLddwichJnGvBX3By ._3oHyyk552jGLGc5Nrw46eq p:after {
        content: '\201D'; }
    #_23qjJaLddwichJnGvBX3By ._3oHyyk552jGLGc5Nrw46eq footer {
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.1875;
      color: #fff; }
      #_23qjJaLddwichJnGvBX3By ._3oHyyk552jGLGc5Nrw46eq footer:before {
        content: ''; }
      #_23qjJaLddwichJnGvBX3By ._3oHyyk552jGLGc5Nrw46eq footer:after {
        display: block;
        width: 2.5rem;
        height: 1px;
        margin: .625rem auto 0;
        content: '';
        background-color: rgba(255, 255, 255, 0.25); }
  #_23qjJaLddwichJnGvBX3By ._1gziSVveHEalSv4ieOOlR {
    position: inherit;
    bottom: auto;
    left: auto;
    width: auto;
    margin: 0 0 2.1875rem; }
    #_23qjJaLddwichJnGvBX3By ._1gziSVveHEalSv4ieOOlR img {
      width: 45px;
      height: 45px;
      margin: 5.5px auto 0;
      border: 2px solid #420042;
      transition: all .1s ease-in-out; }
    #_23qjJaLddwichJnGvBX3By ._1gziSVveHEalSv4ieOOlR li {
      width: 60px;
      height: 60px;
      margin: 0;
      text-indent: inherit;
      border: 0;
      border-radius: 0;
      opacity: .5;
      transition: opacity .2s; }
      #_23qjJaLddwichJnGvBX3By ._1gziSVveHEalSv4ieOOlR li:hover {
        opacity: .9; }
      #_23qjJaLddwichJnGvBX3By ._1gziSVveHEalSv4ieOOlR li._3GOr5lUakO_C2IZOOe7ahf {
        margin: 0;
        background-color: transparent;
        opacity: 1; }
        #_23qjJaLddwichJnGvBX3By ._1gziSVveHEalSv4ieOOlR li._3GOr5lUakO_C2IZOOe7ahf img {
          width: 56px;
          height: 56px;
          margin-top: 0;
          border: 2px solid #ffe0ff; }

#_3It7NXO0FYQQ_Rr3t-6NNN {
  padding-top: 64px;
  padding-bottom: 64px;
  background: white; }
  #_3It7NXO0FYQQ_Rr3t-6NNN ._37RD0-g8Yda98kc6O5mSKj {
    margin-top: 11px; }
    #_3It7NXO0FYQQ_Rr3t-6NNN ._37RD0-g8Yda98kc6O5mSKj ._3VUPjdNjxW7mXc3gzeZ-4U {
      border: 2px solid #efefef;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      padding: 0 20px 0 27px;
      width: 300px;
      background: #f7f7f7;
      line-height: 46px; }
    #_3It7NXO0FYQQ_Rr3t-6NNN ._37RD0-g8Yda98kc6O5mSKj input._3VUPjdNjxW7mXc3gzeZ-4U:focus {
      border: 2px solid #660066;
      outline: 0;
      background: #ffffff; }
    #_3It7NXO0FYQQ_Rr3t-6NNN ._37RD0-g8Yda98kc6O5mSKj ._2A6qKZfEriK4bdBUxhDFEo {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -7px;
      padding: 0 25px 0 25px; }
  #_3It7NXO0FYQQ_Rr3t-6NNN .pmHdL_AYel5zzgi50gRLT, #_3It7NXO0FYQQ_Rr3t-6NNN ._22uyRlPZ7IBYgGAgO9b6k6 {
    display: none; }

#_1FVAH8cl6bXX1vkniAlv6C {
  padding-top: 64px;
  padding-bottom: 64px;
  background: #ffe0ff;
  color: #420042; }
  #_1FVAH8cl6bXX1vkniAlv6C .aNwnhF3xbWh6FnLuNSfRZ {
    display: none; }
  #_1FVAH8cl6bXX1vkniAlv6C ._37RD0-g8Yda98kc6O5mSKj {
    text-align: center;
    margin-top: 51px; }
    #_1FVAH8cl6bXX1vkniAlv6C ._37RD0-g8Yda98kc6O5mSKj ._1sg3nSUdfJpof6pdIJxXFl {
      line-height: 49px;
      width: 100%;
      border: 1px solid #efefef;
      border-radius: 4px;
      text-align: center;
      padding: 0 10px 0 10px;
      margin-bottom: 24px; }
    #_1FVAH8cl6bXX1vkniAlv6C ._37RD0-g8Yda98kc6O5mSKj textarea._1sg3nSUdfJpof6pdIJxXFl {
      max-height: 225px;
      line-height: 27px;
      padding-top: 15px; }
    #_1FVAH8cl6bXX1vkniAlv6C ._37RD0-g8Yda98kc6O5mSKj ._2A6qKZfEriK4bdBUxhDFEo {
      margin-top: 17px; }
    #_1FVAH8cl6bXX1vkniAlv6C ._37RD0-g8Yda98kc6O5mSKj ::-webkit-input-placeholder {
      text-align: center; }
    #_1FVAH8cl6bXX1vkniAlv6C ._37RD0-g8Yda98kc6O5mSKj :-moz-placeholder {
      /* Firefox 18- */
      text-align: center; }
    #_1FVAH8cl6bXX1vkniAlv6C ._37RD0-g8Yda98kc6O5mSKj ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: center; }
    #_1FVAH8cl6bXX1vkniAlv6C ._37RD0-g8Yda98kc6O5mSKj :-ms-input-placeholder {
      text-align: center; }

#_3Sa4X7BpV9SadhT6EdgXun {
  background: #ffe0ff;
  color: #ffe0ff;
  margin-top: 125px;
  padding-top: 64px; }
  #_3Sa4X7BpV9SadhT6EdgXun ._3YbqXi1p4EaGwtU20qSB9H {
    padding: 30px 40px 25px 40px;
    text-align: left; }
    #_3Sa4X7BpV9SadhT6EdgXun ._3YbqXi1p4EaGwtU20qSB9H h6 {
      margin-bottom: 28px; }
    #_3Sa4X7BpV9SadhT6EdgXun ._3YbqXi1p4EaGwtU20qSB9H ._3gqH3fgDjYGnkiOLUwdwky {
      padding-top: 5px; }
      #_3Sa4X7BpV9SadhT6EdgXun ._3YbqXi1p4EaGwtU20qSB9H ._3gqH3fgDjYGnkiOLUwdwky a {
        color: #ffffff;
        font-size: 30px;
        margin-right: 10px; }
        #_3Sa4X7BpV9SadhT6EdgXun ._3YbqXi1p4EaGwtU20qSB9H ._3gqH3fgDjYGnkiOLUwdwky a:hover {
          color: #FF00FF; }
  #_3Sa4X7BpV9SadhT6EdgXun ._2RLxGxqtZQgeUT57pekDLR {
    background-color: #420042; }
  #_3Sa4X7BpV9SadhT6EdgXun ._3Avf24imV73l2AidlHVZ6s {
    margin-top: 45px;
    text-align: center; }
    #_3Sa4X7BpV9SadhT6EdgXun ._3Avf24imV73l2AidlHVZ6s img {
      max-height: 38px; }

#_3xokkmwaBGCmOqStqhP7p1 {
  margin-top: 50px;
  width: 100%;
  height: 400px; }

*, *::before, *::after {
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-family: "'poppins', helvetica, sans-serif";
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  overflow-x: hidden !important; }

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  postition: relative; }

._3the0W6ev37iZc403_Z0Rt {
  background-color: #ffe0ff !important; }
  ._3the0W6ev37iZc403_Z0Rt h1,
  ._3the0W6ev37iZc403_Z0Rt h2,
  ._3the0W6ev37iZc403_Z0Rt h3,
  ._3the0W6ev37iZc403_Z0Rt h4,
  ._3the0W6ev37iZc403_Z0Rt h5,
  ._3the0W6ev37iZc403_Z0Rt h6,
  ._3the0W6ev37iZc403_Z0Rt p {
    color: #420042; }

._3GnE8hU10UhB_RyKeYNmni {
  background-color: white; }
  ._3GnE8hU10UhB_RyKeYNmni h1,
  ._3GnE8hU10UhB_RyKeYNmni h2,
  ._3GnE8hU10UhB_RyKeYNmni h3,
  ._3GnE8hU10UhB_RyKeYNmni h4,
  ._3GnE8hU10UhB_RyKeYNmni h5,
  ._3GnE8hU10UhB_RyKeYNmni h6,
  ._3GnE8hU10UhB_RyKeYNmni p {
    color: #420042 !important; }

._1-KNFnG1LdYJM8hZOTOZ36 {
  background-color: #420042 !important; }
  ._1-KNFnG1LdYJM8hZOTOZ36 h1,
  ._1-KNFnG1LdYJM8hZOTOZ36 h2,
  ._1-KNFnG1LdYJM8hZOTOZ36 h3,
  ._1-KNFnG1LdYJM8hZOTOZ36 h4,
  ._1-KNFnG1LdYJM8hZOTOZ36 h5,
  ._1-KNFnG1LdYJM8hZOTOZ36 h6,
  ._1-KNFnG1LdYJM8hZOTOZ36 p {
    color: #ffe0ff; }

h1 {
  font-family: 'Libre Baskerville', 'Playfair Display', Georgia, serif;
  font-size: 3.75rem;
  line-height: 5.313rem; }

h2 {
  font-family: 'Libre Baskerville', 'Playfair Display', Georgia, serif;
  font-size: 3.125rem;
  line-height: 4.688rem;
  font-weight: 600; }

h3 {
  font-size: 30px;
  line-height: 48px;
  font-weight: 400; }

h4 {
  font-size: 25px;
  line-height: 40px;
  font-weight: 400; }

h5 {
  font-size: 20px;
  line-height: 33px;
  font-weight: 500; }

h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px; }

p {
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 992) {
    p {
      font-size: 18px;
      line-height: 1.6; } }

a {
  color: #42DCA3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #1d9b6c; }

._1_2d8dLY-9AJzH5IqcFHSh {
  padding-right: 75px;
  padding-left: 75px;
  margin-right: auto;
  margin-left: auto; }

._1Rv29iyR_OFNmt0OsUR3Aa {
  background: #ffffff; }

._3kGDXur4X1NYJZx-fYfpV6 {
  background-attachment: fixed; }

._1HSQK_ryPnR5XTqgN4MB-8 {
  position: relative;
  z-index: 10; }

section {
  position: relative; }

.uiszckMjCMqoxJQorw7St {
  position: relative;
  z-index: 10;
  margin-bottom: 25px; }

._3wv7JcN9vE-y2DBNPx6GZH {
  font-size: 18px;
  margin-top: 13px; }

.QXwvIJ3mEkDK7naiVSruZ {
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

._1nmAHo4bGdgYLGYUx7nxw._2n-iztX5GyfJPKYCWgKMh4 [class^="col-"], ._1nmAHo4bGdgYLGYUx7nxw._2n-iztX5GyfJPKYCWgKMh4 [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

._3_s6S8j-nfjtHBwx90y1nZ {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05); }

._20_vfSqpCZIaazNO3FtR2e {
  display: block;
  width: 100%;
  border: solid 0px #CCC;
  border-bottom: none;
  position: relative;
  float: left; }
  ._20_vfSqpCZIaazNO3FtR2e:after {
    content: "";
    background: -webkit-linear-gradient(left, #420042 0%, #630063 12%, #cc00cc 47%, magenta 100%);
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0; }

._2UaWEyi1lnWploLN9UVTAM {
  border-bottom: 3px solid #660066; }

._3yewSUkT5czy1OPWh-e_X- {
  border-bottom: 3px solid #990099; }

._6BDRroK8Wx-7uKXpnl76E {
  border-bottom: 3px solid #CC00CC; }

._3VBp4gfZF_4N2OahFYvxS- {
  border-bottom: 3px solid #FF00FF; }

._1oacuiIBKFgkElEZTQWFJx {
  border-top: 3px solid #660066; }

._3GkcnCIMMfCWYIHmy3yoPv {
  border-top: 3px solid #990099; }

._2xUmsNlJKLYNrAjXfZzmRb {
  border-top: 3px solid #CC00CC; }

._1WHN-9U5bgK_NiEknUDvIb {
  border-top: 3px solid #FF00FF; }

.MmxS27orn-cNrh5b_5GkS {
  width: 100%; }
  .MmxS27orn-cNrh5b_5GkS ._1YeVAmK6JDYgzhHMPwoJqY {
    width: 25%;
    float: left; }

._3twWfcYnPWz0g68_vMwuIA:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(178, 124, 245, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(178, 124, 245, 0.6) 100%);
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s; }

.mbsOk3UWR9CmxRoUL5crm {
  text-transform: uppercase;
  font-family: "'poppins', helvetica, sans-serif";
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0; }

._1bNxScU0avxzENn9rO6TWJ {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent; }
  ._1bNxScU0avxzENn9rO6TWJ:hover, ._1bNxScU0avxzENn9rO6TWJ:focus {
    border: 1px solid #42DCA3;
    outline: none;
    color: black;
    background-color: #42DCA3; }

._2A6qKZfEriK4bdBUxhDFEo {
  padding: 0 40px 0 40px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 50px;
  border: none;
  box-shadow: none; }

.vwaaZjSoGUfW7IUkSaSYF {
  color: #ffffff;
  background: #660066; }
  .vwaaZjSoGUfW7IUkSaSYF:hover {
    background-color: #990099;
    color: #ffffff;
    outline: none; }
  .vwaaZjSoGUfW7IUkSaSYF:active {
    background-color: #990099;
    color: #ffffff;
    outline: none; }
    .vwaaZjSoGUfW7IUkSaSYF:active:hover {
      background-color: #990099;
      color: #ffffff;
      outline: none; }
  .vwaaZjSoGUfW7IUkSaSYF:focus {
    background-color: #990099;
    color: #ffffff;
    outline: none; }
    .vwaaZjSoGUfW7IUkSaSYF:focus:hover {
      background-color: #990099;
      color: #ffffff;
      outline: none; }

.Vfxqc4jVKmp6GXV9dMhcP {
  color: #660066;
  background: #fff;
  border: 2px solid #660066;
  line-height: 46px;
  padding: 0 38px 0 38px; }
  .Vfxqc4jVKmp6GXV9dMhcP:hover {
    background-color: #660066;
    color: #ffffff;
    outline: none;
    border: 2px solid #660066; }
  .Vfxqc4jVKmp6GXV9dMhcP:active {
    background-color: #660066;
    color: #ffffff;
    outline: none;
    border: 2px solid #660066; }
    .Vfxqc4jVKmp6GXV9dMhcP:active:hover {
      background-color: #660066;
      color: #ffffff;
      outline: none;
      border: 2px solid #660066; }
  .Vfxqc4jVKmp6GXV9dMhcP:focus {
    background-color: #660066;
    color: #ffffff;
    outline: none;
    border: 2px solid #660066; }
    .Vfxqc4jVKmp6GXV9dMhcP:focus:hover {
      background-color: #660066;
      color: #ffffff;
      outline: none;
      border: 2px solid #660066; }

ul._14IGONx3XDQRWvoeL8lsmI {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul._14IGONx3XDQRWvoeL8lsmI {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    ul._14IGONx3XDQRWvoeL8lsmI li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul._14IGONx3XDQRWvoeL8lsmI li:last-child {
        margin-bottom: 0; } }

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }
