<!DOCTYPE html>
<html lang="de">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="{{meta.author}}">
    <meta name="copyright" content="{{meta.copyright}}">
    <meta name="keywords" content="{{meta.keywords}}">
    
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="{{root}}css/bootstrapCSS.css"> 
    <link rel="stylesheet" href="{{root}}css/faCSS.css"> 
    <link rel="stylesheet" href="{{root}}css/siteCSS.css"> 

  </head>
  <body>
    {{> navigationheader}}
    {{> header}}
    {{> body}}
    {{> footer}}
    {{> footerjavascripts}}
  </body>  
</html>
