<footer id="footer">
  <div class="container box">
    <div class="row no-gutters">

      <div class="col-xl-3 col-lg-3">
        <div class="col">
          <h6 class="pink-text">Praxis</h6>
          <p class="white-text">
            Naturapraxis<br>
            Simone Roth-Doggwiler<br>
            Weberstrasse 10<br>
            8004 Zürich
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3">
        <div class="col">
          <h6 class="pink-text">Email</h6>
          <p class="white-text">
            <a href="mailto:simone@naturapraxis.ch">simone@naturapraxis.ch</a><br/>
          </p>
          <h6 class="pink-text">Mobile</h6>
          <p class="white-text">
            +41767717515
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3">
        <div class="col">
          <h6 class="pink-text">Rechtliches</h6>
          <p class="white-text">
            <a href="./impressum.html" class="external">Impressum</a><br/>
            <a href="./agb.html" class="external">Allgemeine Geschäftsbedingungen</a>
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3">
        <div class="col">
          <h6 class="pink-text">Social-Media</h6>
          <div class="social-icons">
            <a href="https://de-de.facebook.com/naturapraxis.ch/"><i class="fa fa-facebook-square fa-1x"></i></a>
            <a href="http://www.simoneroth.ch/"><span class="icon icon-sb-share"></span></a>
          </div>
        </div>
      </div>
  
      <div class="four-lines">
        <div class="line dark-purple-line-bottom"></div>
        <div class="line purple-line-bottom"></div>
        <div class="line dark-pink-line-bottom"></div>
        <div class="line pink-line-bottom"></div>
      </div>
  
    </div>

  </div>

  <!-- Map Section -->
  <div id="googleMap"></div>

</footer>
