<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
    Menu <i class="fa fa-bars"></i>
  </button>
  <div class="container">
    <a class="navbar-brand" href="#page-top">
      <img class="logo" width="auto" height="30" alt="Naturapraxis-Logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarItems">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#intro">Naturapraxis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#leitbild">Leitbild</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#angebot">Angebot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">&Uumlber mich</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#praxis">Praxis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
