<div id="section-5" class="container">
  <div class="row">
    <div class="col-md-12">
      <section id="cd-timeline-2" class="cd-container">

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
            <img src="../images/timeline/1.gif" alt="Picture">
          </div>
          <div class="cd-timeline-content projects">
            <img src="../images/timeline/1.gif" alt="Picture">
            <div class="project-content">
              <h2>Donec at scelerisque</h2>
              <span>18 December 2084</span>
            </div>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
            <img src="../images/timeline/1.gif" alt="Picture">
          </div>
          <div class="cd-timeline-content projects">
            <img src="../images/timeline/1.gif" alt="Picture">
            <div class="project-content">
              <h2>Nullam hendrerit ultrices</h2>
              <span>12 December 2084</span>
            </div>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
            <img src="../images/timeline/1.gif" alt="Picture">
          </div>
          <div class="cd-timeline-content projects">
            <img src="../images/timeline/1.gif" alt="Picture">
            <div class="project-content">
              <h2>Quisque mollis diam</h2>
              <span>10 December 2084</span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

