<section id="section-3" class="bg-primary">
  <div class="container-fluid">
    <div class="section-header">
      <h2>Angebot</h2>
    </div>

    <div class="row">
      {{#each sections.section-3.items}}
        <div class="col-xl-4 col-md-6 col-12">
          <div class="card-flip">
            <div class="flip">
              <div class="front">
                <div class="card bg-secondary">
                  <div class="card-block">
                    <h4 class="card-title">{{this.name}}</h4>
                  </div>
                  <img src="../images/angebot/{{inc @index}}.jpg" alt="{{this.name}}" data-holder-rendered="true" style="height: 320px; width: 100%; display: block;">
                  <div class="bottom-gradient"></div>
                </div>
              </div>
              <div class="back">
                <div class="card">
                  <div class="card-block">
                    <h4 class="card-title">{{this.name}}</h4>
                    <p class="card-text">{{this.content}}</p>
                    {{#with this.link}}
                      <a href="{{dest}}" class="btn btn-default standard-button dark-purple-button">{{name}}</a>
                    {{/with}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

  </div>
</section>
