<section id="section-4" class="bg-inverse">
  <div class="container">
    <div class="section-header">
      <h2>{{name}}</h2>
    </div>

    <div class="row">
      <div class="col-lg-12">

        <ul class="timeline">

          {{#each sections.section-4.items}}
            {{#if (ifEven @index)}} 
              <li>
            {{else}}
              <li class="timeline-inverted">
            {{/if}}
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../images/timeline/1.gif" alt="{{this.name}}">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>{{this.time}}</h4>
                    <h4 class="subheading">{{this.name}}</h4>
                  </div>
                  <div class="timeline-body">
                    <p>{{this.content}}</p>
                  </div>
                </div>
              </li>
          {{/each}}

          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part
              <br>Of Our
              <br>Story!</h4>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </div>
</section>

