<section id="section-2" class="bg-inverse">
  <div class="container-fluid">

    <div class="section-header">
      <h2>{{sections.section-2.name}}</h2>
    </div>

    <div class="row">
      {{#each sections.section-2.items}}
        <div class="col-xl-3 col-md-6 col-12">
          <div class="thema diffuse-shadow bottom-gradient bg-secondary">
            <h4>{{this.name}}</h4>
            <p>{{this.content}}</p>
          </div>
        </div>
      {{/each}}
    </div>

  </div>
</section>
