<section id="about">
  <div id="carouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      {{#each data.about.items}}
        {{#ifCond @index '===' 0}}
        <li data-target="#carouselIndicators" data-slide-to="{{@index}}" class="active"></li>
        {{else}}
        <li data-target="#carouselIndicators" data-slide-to="{{@index}}"></li>
        {{/ifCond}}
      {{/each}}
    </ol>
    <div class="carousel-inner" role="listbox">
    {{#each data.about.items}}
      {{#ifCond @index '===' 0}}
      <div class="carousel-item carousel-item-{{inc @index}} active">
      {{else}}
      <div class="carousel-item carousel-item-{{inc @index}}">
      {{/ifCond}}
        <div class="carousel-caption d-none d-md-block carousel-text">
          <h3 class="carousel-text">{{this.name}}</h3>
          <p class="carousel-text">{{this.content}}</p>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</section>
