<section id="angebot" class="theme-primary">
  <div class="container-fluid">

    <h2 class="section-heading">Angebot</h2>

    <div class="row">
      {{#each data.angebot.items}}
        <div class="col-xl-4 col-md-6 col-12">
          <div class="card-flip">
            <div class="flip">
              <div class="front">
                <div class="card theme-white">
                  <div class="card-block">
                    <h3 class="card-title section-subheading">{{this.name}}</h3>
                  </div>
                  <img src="../img/angebot/{{inc @index}}.jpg" alt="{{this.name}}" data-holder-rendered="true" style="height: 320px; width: 100%; display: block;">
                  <div class="bottom-gradient"></div>
                </div>
              </div>
              <div class="back">
                <div class="card">
                  <div class="card-block">
                    <h3 class="card-title section-subheading">{{this.name}}</h3>
                    <p class="card-text">{{this.content}}</p>
                    {{#with this.link}}
                      <a href="{{dest}}" class="btn btn-outline-primary btn-small inverse-button">{{name}}</a>
                    {{/with}}
                  </div>
                  <div class="bottom-gradient"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

  </div>
</section>
