<footer id="footer" class="theme-primary">
  <div class="container theme-inverse">
    <div class="row no-gutters">

      <div class="col-md-3">
        <div class="col">
          <h6>Praxis</h6>
          <p>
            Naturapraxis<br>
            Simone Roth-Doggwiler<br>
            Weberstrasse 10<br>
            8004 Zürich
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="col">
          <h6>Email</h6>
          <p>
            <a href="mailto:simone@naturapraxis.ch">simone@naturapraxis.ch</a><br/>
          </p>
          <h6>Mobile</h6>
          <p>
            +41767717515
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="col">
          <h6>Rechtliches</h6>
          <p>
            <a href="./impressum.html" class="external">Impressum</a><br/>
            <a href="./agb.html" class="external">Allgemeine Geschäftsbedingungen</a>
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="col">
          <h6>Social-Media</h6>
          <div class="social-icons">
            <a href="https://de-de.facebook.com/naturapraxis.ch/"><i class="fa fa-facebook-square fa-1x"></i></a>
            <a href="http://www.simoneroth.ch/"><span class="icon icon-sb-share"></span></a>
          </div>
        </div>
      </div>
  
    </div>
    <div class="bottom-gradient"></div>

  </div>

  <!-- Map Section -->
  <div id="googleMap"></div>

</footer>

