<section id="newsletter">
  <div class="container">
    <div class="row sr-flip">
      <div class="col-md-12 text-center">
        <div class="block">
          <h2>Melde Dich beim Newsletter an</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
          <div class="col-lg-6 offset-lg-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Deine Email-Addresse">
              <span class="input-group-btn">
                <button class="btn btn-outline-primary primary-button" type="button">Anmeldung</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
