<!DOCTYPE html>
<html lang="de">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{#each data.meta}}
      <meta name="{{@key}}" content="{{this}}">
    {{/each}}
    
    <title>{{title}}</title>
    
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{root}}css/siteCSS.css"> 

  </head>
  <body>
    {{> navigationheader}}
    {{> header}}
    {{> body}}
    {{> footer}}
    {{> footerjavascripts}}
  </body>  
</html>
